.navbar-collapse{
    display: flex;
    justify-content: start;
    align-items: center;
   


}
*{
    margin: 0;

}
nav{
    background-color: rgb(16, 105, 31);
    font-size: 20px;
    width: 100vw;
    
    
   
    
    
   

    


}
#h2{
    font-weight: bold;
 
}
#icono{
    width: 200px;
    color: rgb(133, 119, 119);
}
/* noticia */
.contenedor {
    width: 80%;
    margin: 20px auto;
    
} 
.contenido{
    font-family: sans-serif;
    font-weight: bold;
    text-align: justify;

  
    
}
/* estilo general */
#link{
    color: rgb(207, 183, 183);
    background-color:  rgb(16, 105, 31);;
    color: rgb(230, 209, 209);
    padding: 0 40px;
    font-weight: bold;
   
   

}


#link:hover{
   color: white;
     
}
.sub-titulo{
    font-weight: bold;
    font-size: 2rem;
    margin: 0 100px;

}
/* carousel */
.contenedor-carousel{
   
}
.contenido-carousel{
   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;
   

    
}
.comentarios{
    font-weight: bold;
}
.carousel{
   
  width: 100%;
  height: 500px;
    display: flex;
    background-color: rgba(231, 243, 231, 0.726);
    border-radius: 10PX;
}
.testimonio-info{
    margin: 10px 10px 50px 10px;
}
.comentario-imagen{
 margin: 10px 10px 70px 10px;
}
.carousel-texto{
    text-align: center;
    align-items: center;
    max-width: 70%;
    margin: 0px 10px 70px 10px;
    font-weight: bold;
    font-size: 20px;
}
/* formulario */

.label{
    margin: 20px 0 10px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(226, 238, 230);
    font-family: sans-serif;
}
.formulario-contenido{
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(52,129,7,0.6979166666666667) 0%, rgba(30,172,15,1) 49%, rgba(23,110,18,0.908000700280112) 86%);
    border-radius: 50px;
    border: solid green 5px;
    margin: 50px 10px 10px 40px;
    width: 700px;
    height: 500px;
}
.input{
border-radius: 30px;
margin: 10px;
width: 250px;
height: 40px;
border: solid rgb(243, 240, 235) 5px;
box-shadow: 2px 2px 2px 2px white;
}
.info{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin: 30px 10px 10px;
    border: solid rgb(243, 240, 235) 5px;
box-shadow: 2px 2px 2px 2px white; 
}
.buton-formulario{
    margin: 30px;
    width: 200px;
    height: 60px;
    border-radius: 13px;
    border: solid 2px white;
    font-weight: bold;
    color: rgb(211, 211, 233);
    background-color: rgb(63, 121, 63);
    box-shadow: 2px 2px 2px 2px white;
    transition: all 01s ease-in-out;

}
.buton-formulario:hover{
    background-color: aliceblue;
    color: rgb(0, 0, 0);

}
.titulo-formulario{
    font-family: sans-serif;
}
/* footerd */
.footer{
    background-color: rgb(24, 75, 33);
    width: 100vw;
    height: 500px;
}
.iconos-redes a{
    background-color: rgba(100, 96, 91, 0.897);
    border-radius: 50%;
    margin: 0 10px 0 20px;
    border: solid white 3px;
   transition: all 1s ease-in-out;
    
   
}

.iconos-redes i{ 
    color: wheat;
    font-size: 40px;
    margin: 0% 20px 0 20px;
    
  
}

   
    


 .iconos-redes:hover i{
    color: black;
   
 }
    
    
   
   .iconos-redes:hover a{
    background-color: azure;

    border: solid rgb(192, 192, 211) 3px;
   
    
   
   }
.footer h1{
    color: white;
    font-weight: bold;
    font-size: 3rem;

}
/* @media screen { */
    @media screen and (max-width:1000px){
    
        .imagen-noticia{
            width: 600px;
            height: 500px;
        }
        .coontenido{
    
        }
        .navbar-collapse{
            
        }
    }
    

    @media screen and (max-width:700px){
    
    .imagen-noticia{
        width: 700px;
        height: 400px;
    }
    .footer{
        width: 700px;
    }
    .contenedor{
        width: 100%;
        margin: 20px auto;
    }
    .coontenido{

    }
    
 
    .navbar-collapse{
        
    }
    .carousel{
        width: 550px;
        height: 600px;
    }

}
@media screen and (max-width:500px){
    .footer{
        width: 800px;
        max-height: 400px;
    }
    
    .imagen-noticia{
        width: 800px;
        height: 400px;
    }
    .contenedor{
       
    width: 100%;
    text-align: justify;
    font-size: x-large;
        
    }
 
   
    nav{
   width: 200vw;
   

        
    }
    #h2{
        
        font-size: 30px;
    }
    #link{
        font-size: 30px;
    }

    .formulario-contenido{
        height: 700px;
    }

    .formulario{
        width: 700px;
        height: 800px;

        
    }
    .input{
      width: 400px;
      height: 70px;
    }
    .info{
        width: 200px;
        height: 70px;
        border-radius: 15px;
        margin: 30px 10px 10px;
    }
    .buton-formulario{
        width: 200px;
        height: 70px;
        
    }
    .label{
        font-size: 30px;
        padding: 10px 10px 10px ;
    }

  .contenido{
  text-align: justify;




  
    
 }
 .carousel{
    width: 700px;
    height: 650px;
 }
 .carousel-texto{
    font-size: 25px;
 }
 
}

    
